/** Stylesheet for Case Submission View/Wizard **/

body[data-current-action="add"] {

    .case-submission-view {


        /** Menu to select step **/
        .panel-selection {
            display: flex;
            margin-top: 30px;

            @include media-breakpoint-down(md){
                flex-direction: column;
            }
            

            > .panel-menu-item {
                flex: 1 1 auto;
                padding: 0 10px;
                background-color: #f4f4f4;

                @include media-breakpoint-up(lg){
                    border: 1px solid #eee;
                    &:not(:first-child) {
                        border-left-color: #ddd;
                    }
                    &:not(:last-child) {
                        border-right: none;
                    }
    
                    &:first-child {
                        border-radius: 35px 0 0 35px;
                    }
    
                    &:last-child {
                        border-radius: 0 35px 35px 0;
                    }
                }

                @include media-breakpoint-down(md){

                    &:first-child {
                        border-radius: 10px 10px 0 0;
                    }
    
                    &:last-child {
                        border-radius: 0 0 10px 10px;
                    }
                }

                &:not(.disabled):not([disabled]) {
                    cursor: pointer;
                }

                > .row {
                    flex-wrap: nowrap;
                    align-items: center;
                    height: 100%;
                    min-height: 70px;
                    > .number-indicator {
                        font-size: 2rem;
                        font-weight: 600;
                        text-align: center;
                        flex: 0 0 70px;

                        > span {
                            display: block;
                            height: 50px;
                            width: 50px;
                            border: 1px solid transparent;
                            background-color: #d89923;
                            border-radius: 50%;
                            color: #fff;
                        }
                    }
                }

                &.active {
                    background-color: #fff;
                    > .row > .number-indicator > span {
                        border: 1px solid #0004;
                    }
                }

                &.completed {
                    //background-color: #fff;
                    > .row > .number-indicator > span {
                        //background-color: #98ec64;
                        background-color: $brand-success;
                    }
                }

                &.disabled {
                    > .row {
                        opacity: 0.5;
                        > .number-indicator > span {
                            border: 1px dashed #0004;
                            background-color: #b7b7b7;
                        }
                    }
                }

                

                .panel-title {
                    font-weight: 600;
                }

            }
        }

        .panel-form-container {

            padding-bottom: 10px;

            &.is-creating {
                opacity: 0.5;
            }
        }

        .field-section {
            &.linkto-section {
                > .row {
                    > .col {
                        min-width: 0;
                        min-height: 100%;
                        > .linkto-value {
                            background: #f8f8f8;
                            border: 1px solid #eee;
                            border-radius: 5px;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            padding-left: 10px;
                            padding-right: 10px;
                            overflow-x: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                    .btn {
                        min-width: 120px;
                    }
                }
            }
        }

    }

    .buttons-container.finish-row {
        padding-top: 10px;
        border-top: 1px solid #eee;
    }

}