

/**********************/
/**** Search Table ****/
/**********************/

// 40px is height of navbar, we subtract 1 to help cover up 1px gap glitch
// which appears at times..
$cgap-search-sticky-header-top-offset: 39px;

$search-results-above-results-row-height: 42px;
$search-results-edge-background-color: #e2e2e2;
$search-results-edge-shadow-color : rgba(0,0,0,0.5);
$search-results-result-row-height: 80px; // +9px margin bottom +1px border bottom = 90px rowHeight.
$search-results-header-row-height: 52px; // 46px is existing default for both result and header height.
@import "./../../../../../../node_modules/@hms-dbmi-bgm/shared-portal-components/scss/search-view-table.scss";

// Extensions to shared-portal-components searchview table(s):
.search-result-row .result-table-row .search-result-column-block {

	> .inner .multi-field-cell {
		flex: 1 1 0px;
		width: 100%;

		.top-row,
		.col-date,
		.col-main {
			@extend .text-ellipsis-container;
		}

		.top-row {
			display: flex;
			justify-content: space-between;
			.col-topleft {
				@extend .text-ellipsis-container;
			}
		}
		.top-row,
		.col-date {
			line-height: 20px;
			white-space: nowrap;
		}
		.col-main {
			margin: 0;
			font-weight: 400;
			text-align: center;
		}
	}

	&[data-field="display_title"] {
		> .inner {
			> .title-block {
				white-space: normal; // Allow to wrap by default (overrides SPC's default white-space: nowrap;) since we have tall-ish rows.
			}
		}
	}


	// Styling overrides specific to search results of type Case
	.search-view-controls-and-results[data-search-item-type="Case"] & {

		// Treat Individual col as display_title col for CaseView.
		&[data-first-visible-column] > .inner > .title-block {
			max-height: none;
			white-space: normal; // Allow to wrap by default (overrides SPC's default white-space: nowrap;) since we have tall-ish rows.
		}

		&[data-field="individual"] > .inner .multi-field-cell .col-main {
			// Uppercase Individual's Identifier
			text-transform: uppercase;
		}


		&[data-field="individual"],
		&[data-field="accession"],
		&[data-field="sample_processing"] {
			> .inner {
				.col-topleft {
					@extend .text-monospace;
					font-size: 0.75em;
				}
			}
		}


	}
	
	&[data-field="status"] {
		> .inner {
			i.item-status-indicator-dot {
				margin-left: 4px;
				margin-right: 2px;
			}
		}
	}
	&[data-field="lab.display_title"],
	&[data-field="track_and_facet_info.lab_name"]{
		> .inner {
			text-align: left;
		}
		i.user-icon {
			cursor: help;
			margin-right: 5px;
		}
	}
	&[data-field="display_title"]{
		.expset-checkbox {
			margin-right: 15px;
			margin-top: -1px;
			display: inline-block;
			vertical-align: text-top;
		}
		.mono-text,
		.text-monospace {
			letter-spacing: 0.5px;
		}
		img.in-search-table-title-image {
			margin-top: -10px;
			margin-bottom: -8px;
			border-radius: 4px;
			margin-right: 10px;
			filter: saturate(0.3);
			transition: filter .2s, opacity .2s;
			opacity: 0.85;
		}
		&:hover {
			img.in-search-table-title-image {
				filter: none;
				opacity: 1;
			}
		}
	}
	&[data-field="experiments_in_set.experiment_categorizer.combined"]{
		> .inner {
			position: relative;
			text-overflow: none;
			white-space: normal;
			div.exp-categorizer-cell {
				text-align: left;

				> small {
					position: relative;
					top: -9px;
					font-weight: 500;
				}
				> div {
					position: relative;
					top: -8px;
					width: 100%;
				}
			}

		}
	}
}



/*** FACETS CONTAINER STICKY ***/

$facetlist-selected-term-color: $brand-primary;
$facetlist-omitted-term-color: #901414;

@import "../../../../../../node_modules/@hms-dbmi-bgm/shared-portal-components/scss/facet-list.scss";

$search-page-padding-resize-transition-in: padding .25s .5s linear;
$search-page-padding-resize-transition-out: padding .25s linear;

/* Make page full(er) width when scroll down */
@include navbar-fixed-position {
	.search-page-outer-container.container-wide {

		/* Wraps .search-page-container */

		transition: $search-page-padding-resize-transition-out;

		.facets-column,
		.results-column {
			transition: $search-page-padding-resize-transition-out;
		}

		.facets-column {
			//transition: $search-page-padding-resize-transition, background-color .5s;
			//background-color: #fff;
			.facets-container {
				transition: border-color .3s;
				background-color: #fff;
				> .row.facets-header {
					transition: $search-page-padding-resize-transition-out;
				}
			}
		}

		// Stylistic adjustment (experimental / in-progress)

		// &:before {
		// 	content: "";
		// 	display: block;
		// 	position: fixed;
		// 	left: 0;
		// 	right: 0;
		// 	top: 30px;
		// 	height: 61px;
		// 	opacity: 0;
		// 	background-color: darken($color: $brand-primary-dark, $amount: 5%);
		// 	transition: height .5s ease-out, opacity .5s ease-out;
		// }

		// body.scrolled-past-240 & {

		// 	&:before {
		// 		opacity: 1;
		// 	}

		// }

	}
}

/** CGAP-Related SearchView Theming **/

body[data-pathname="/search/"]:not([data-current-action="add"]) {
	#slot-application,
	#application,
	#layout {
		// Possible todo: switch this to appBackgroundColor param (base.scss) or parameterize according to final design.
		background-color: #f5f5f5;
	}
}

.search-page-container {

	> div.search-view-controls-and-results.row {

		@include navbar-fixed-position {
			flex-wrap: nowrap;
		}

		.results-column {
			min-width: 0;
		}

		.facets-column {

			@include navbar-static-position {
				width: 100%;
			}
	
	
			@include navbar-fixed-position {
				width: 320px;
			}
	
			.facets-container {
				position: -webkit-sticky;
				position: sticky;
				top: 0px;

				margin-bottom: 20px;
				
				@include navbar-fixed-position {
					top: $cgap-search-sticky-header-top-offset;
					margin-bottom: 0px;
				}

				// Align header height with $search-results-header-row-height.
				&.with-header-bg .facets-header {
					height: $search-results-header-row-height;
				}
	
				body.scrolled-past-160 & {
	
					margin-bottom: 0px;
					padding-bottom: 0 !important;
				
					.facets-body {
						max-height: 90vh;
						// 86 = 40 nav + 46 facet-list-header + 70px footer & bottom margin
						max-height: calc(100vh - 137px);
						overflow-y: auto;
						overflow-x: hidden;
	
						&::-webkit-scrollbar {
							width: 6px;
							height: 6px;
							background-color: transparent;
						}
	
						&::-webkit-scrollbar-thumb {
							background-color: #aaa;
							border-radius: 3px;
						}
	
						&::-webkit-scrollbar-track {
							margin-right: -1px;
						}
	
					}
				}
	
			}
	
		}
	}

	.search-results-outer-container {

		.search-headers-row {
			position: sticky;
			top: 0px;
			@include navbar-fixed-position {
				top: $cgap-search-sticky-header-top-offset;
			}
		}

	}

}

.search-results-container .react-infinite-container .search-result-row {

	border-bottom: 1px solid #00000015;
	box-shadow: 0 1px 5px -2px #0002;
	margin-bottom: 9px;

	// Re-style result row re: CGAP styling/theming/branding.
	> .columns.result-table-row > .search-result-column-block > .inner {
		// Along with margin-bottom & border, aligned to `rowHeight` in SearchView.js.
		height: $search-results-result-row-height; // = 80px (+9px margin bottom +1px border bottom = 90px rowHeight);
	}

	> .columns.result-table-row > .search-result-column-block[data-field="display_title"] {
		padding-left: 45px !important;

		.toggle-detail-button-container {
			top: 0;
			bottom: 0;
			> button {
				width: 45px !important;
				border-radius: 0;
			}
		}
	}

	.result-table-detail-container .result-table-detail {
		padding-left: 57px;
	}

}


/********************************/
/****** Active Filters Bar ******/
/********************************/

@import "../../../../../../node_modules/@hms-dbmi-bgm/shared-portal-components/scss/active-filters-bar.scss"


