

/**********************/
/**** Search Table ****/
/**********************/

$search-results-above-results-row-height: 42px;
@import "./../../../../../../node_modules/@hms-dbmi-bgm/shared-portal-components/scss/search-view-table.scss";

// Extensions to shared-portal-components searchview table(s):
.search-result-row .result-table-row .search-result-column-block {
	&[data-field="status"] {
		> .inner {
			i.item-status-indicator-dot {
				margin-left: 4px;
				margin-right: 2px;
			}
		}
	}
	&[data-field="lab.display_title"],
	&[data-field="track_and_facet_info.lab_name"]{
		> .inner {
			text-align: left;
		}
		i.user-icon {
			cursor: help;
			margin-right: 5px;
		}
	}
	&[data-field="display_title"]{
		.expset-checkbox {
			margin-right: 15px;
			margin-top: -1px;
			display: inline-block;
			vertical-align: text-top;
		}
		.mono-text {
			letter-spacing: 0.5px;
		}
		img.in-search-table-title-image {
			margin-top: -10px;
			margin-bottom: -8px;
			border-radius: 4px;
			margin-right: 10px;
			filter: saturate(0.3);
			transition: filter .2s, opacity .2s;
			opacity: 0.85;
		}
		&:hover {
			img.in-search-table-title-image {
				filter: none;
				opacity: 1;
			}
		}
	}
	&[data-field="experiments_in_set.experiment_categorizer.combined"]{
		> .inner {
			position: relative;
			text-overflow: none;
			white-space: normal;
			div.exp-categorizer-cell {
				text-align: left;

				> small {
					position: relative;
					top: -9px;
					font-weight: 500;
				}
				> div {
					position: relative;
					top: -8px;
					width: 100%;
				}
			}

		}
	}
}



/*** FACETS CONTAINER STICKY ***/

$facetlist-selected-term-color: $brand-primary;
$facetlist-omitted-term-color: #901414;

@import "../../../../../../node_modules/@hms-dbmi-bgm/shared-portal-components/scss/facet-list.scss";

$search-page-padding-resize-transition-in: padding .25s .5s linear;
$search-page-padding-resize-transition-out: padding .25s linear;

/* Make page full(er) width when scroll down */
@include navbar-fixed-position {
	.search-page-outer-container.container-wide {

		/* Wraps .search-page-container */

		transition: $search-page-padding-resize-transition-out;

		.facets-column,
		.results-column {
			transition: $search-page-padding-resize-transition-out;
		}

		.facets-column {
			//transition: $search-page-padding-resize-transition, background-color .5s;
			//background-color: #fff;
			.facets-container {
				transition: border-color .3s;
				background-color: #fff;
				> .row.facets-header {
					transition: $search-page-padding-resize-transition-out;
				}
			}
		}

		body.scrolled-past-160 & {
			/* Override 36 etc. */
			padding-left: 10px;
			padding-right: 10px;
			transition: $search-page-padding-resize-transition-in;

			.facets-column,
			.results-column {
				padding-left: 0;
				padding-right: 0;
				transition: $search-page-padding-resize-transition-in;
			}

			.facets-column {
				//transition: $search-page-padding-resize-transition, background-color .4s .5s;
				//background-color: #f8f8f8;
				.facets-container {
					border-right-color: #bbb;
					border-left-color: transparent;

					> .row.facets-header {
						padding-left: 15px;
						transition: $search-page-padding-resize-transition-in;
					}
				}
			}

			.shadow-border-layer {
				.edge-scroll-button {
					z-index: 25;
				}
				.edge-scroll-button.left-edge {
					left: 0;
				}
				.edge-scroll-button.right-edge {
					right: 0;
				}
			}

			.search-results-container {

				.search-result-column-block[data-field="display_title"] {
					.toggle-detail-button-container {
						top: 0 !important;
						bottom: 0 !important;
						button.toggle-detail-button {
							border-radius: 0 !important;
						}
					}
				}

			}

		}
	}
}

.search-page-container {

	> div > .row {
		@include navbar-fixed-position {
			flex-wrap: nowrap;
		}

		.results-column {
			min-width: 0;
		}

		.facets-column {

			@include navbar-static-position {
				width: 100%;
			}
	
	
			@include navbar-fixed-position {
				width: 320px;
			}
	
			.facets-container {
				position: -webkit-sticky;
				position: sticky;
				top: 0px;

				margin-bottom: 20px;
				
				@include navbar-fixed-position {
					top: 40px;
					margin-bottom: 0px;
				}
	
				body.scrolled-past-160 & {
	
					margin-bottom: 0px;
					padding-bottom: 0 !important;
				
					.facets-body {
						max-height: 90vh;
						// 86 = 40 nav + 46 facet-list-header + 70px footer & bottom margin
						max-height: calc(100vh - 137px);
						overflow-y: auto;
						overflow-x: hidden;
	
						&::-webkit-scrollbar {
							width: 6px;
							height: 6px;
							background-color: transparent;
						}
	
						&::-webkit-scrollbar-thumb {
							background-color: #aaa;
							border-radius: 3px;
						}
	
						&::-webkit-scrollbar-track {
							margin-right: -1px;
						}
	
					}
				}
	
			}
	
		}
	}


	.search-headers-row {
		position: sticky;
		top: 0px;
		@include navbar-fixed-position {
			top: 40px;
		}
	}

	.search-results-outer-container .search-results-container .inner-container .scrollable-container .search-result-row {
	
		> .columns.result-table-row > .search-result-column-block[data-field="display_title"] {
			padding-left: 50px !important;

			.toggle-detail-button-container > button {
				width: 45px !important;
			}
		}

		.result-table-detail-container .result-table-detail {
			padding-left: 57px;
		}

	}

}





/********
COMMON SEARCH TABLE
*********/

// Outer Wrapper
// Inner stuff (cell, row styling, etc.) is located in _tables.scss

.browse-page-container {
	margin-top: 40px;
	&.search-page-container {
		margin-top: 0px;
    }
    background-color: #fff;
    //background-color: rgba(255,255,255,0.9);
}


.batch-files-download-modal {
    > .modal-dialog {
        min-width: 75%;
    }
}

