
/*** Override ReactTooltip styles ***/

/**************** React Tooltips (NPM: react-tooltip) overwrite of styling *********************/

body .__react_component_tooltip {

    padding: 7px 15px;
	z-index: 9999 !important;

    max-width: 630px;
    @include media-breakpoint-down(sm) {
        max-width : 400px;
    }
    @include media-breakpoint-down(md) {
        max-width : 500px;
    }
    @include media-breakpoint-down(lg) {
        max-width : 600px;
    }

    h1,h2,h3,h4,h5,h6 {
        color: #fff;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    small + h2, small + h3,
    small + h4, small + h5,
    small + h6 {
        margin-top: 0;
    }

}

/* Probably doesn't do anything useful -- */
.__react_component_tooltip.has-links-or-buttons {
    pointer-events: all !important;
    &:hover {
        visibility: visible;
        opacity: 1;
    }
}
