@use "sass:math";
/**********************************************************************************
 ** NOTE:                                                                        **
 ** Most base styles handled by Bootstrap, with _base.scss setting or overriding **  
 ** bootstrap/_variables.scss.                                                    **
 ***********************************************************************************/

h1, h2, h3, h4, h5, h6, th {
    /* Carried over from 4DN & ENCODE */
	color: #111;
}

h4, .h4 {
    // Font-size for this is set in _base.scss to 1.3rem
    line-height: 140%;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    // Overrides Bootstrap's default of just margin-bottom.
    margin: $headings-margin-bottom 0;
    + ol, + ul, + dl {
        margin-top: $headings-margin-bottom;
    }
    + p {
        margin-top: $headings-margin-bottom * 2;
    }
    + h1, + .h1,
    + h2, + .h2,
    + h3, + .h3,
    + h4, + .h4,
    + h5, + .h5,
    + h6, + .h6 {
        margin-top: $headings-margin-bottom * 2;
    }
}


blockquote {
    @include font-size(1rem);
}


// Override Bootstrap Defaults (margin below block typographical elements) with 'smart'er approach.

p, ul, ol, dl {
    margin-bottom: 0; // Default was $paragraph-margin-bottom (~1rem);
    + p {
        margin-top: $paragraph-margin-bottom; // == 1rem
    }
    + h1, + .h1,
    + h2, + .h2,
    + h3, + .h3,
    + h4, + .h4,
    + h5, + .h5,
    + h6, + .h6 {
        margin-top: $headings-margin-bottom * 2; // == 1rem
    }
}

p {
    + ul, + ol, + dl {
        margin-top: math.div($paragraph-margin-bottom, 4); // == .25rem
    }
}

ul, ol, dl {
    margin-bottom: 0; // Default was $paragraph-margin-bottom (~1rem);
    + p, + ul, + ol, + dl { // Pretty rare top have sibling lists but handled just in case.
        margin-top: $paragraph-margin-bottom; // == 1rem
    }
}


hr {
    clear: both;
}

// Possible todo: change to 'text-error' or something less generic than 'error'
.error {
    text-align: center;
    color: red;
}

/************ Typography Utility Classes **********/
/****** BOOTSTRAP HAS SIMILAR UTILITY CLASSES *****/
/************ THIS SOMEWHAT EXTENDS THEM **********/

// Exists in bootstrap:
// text-capitalize, text-uppercase, text-monospace, text-justify, text-wrap, text-nowrap, text-truncate
.text-serif 		{ font-family: $font-family-serif; }

.text-100 { font-weight: 100 !important; }
.text-200 { font-weight: 200 !important; }
.text-300 { font-weight: 300 !important; }
.text-400 { font-weight: 400 !important; }
.text-500 { font-weight: 500 !important; }
.text-600 { font-weight: 600 !important; }

.text-normal { font-size: 1rem; } // Reset to default size.
.text-small { font-size: 0.9rem; }
.text-smaller { font-size: 0.75rem; }
.text-medium { font-size: 15px; font-size: 15.75px; }
.text-large { font-size: 17.5px; }
.text-larger { font-size: 20px; line-height: 25px; }

.accession {
	font-family: $font-family-monospace;
}


/** Bootstrap has similar rules for .text-light and some other classes, but not for .text-white-50 and others. Here we add these in. */
a.text-white-50 {
    &:hover, &:focus {
        color: rgba(255, 255, 255, 0.9) !important;
    }
}

a.text-black-50 {
    &:hover, &:focus {
        color: rgba(0, 0, 0, 0.9) !important;
    }
}



