
/* Note: most base styles handled by Bootstrap, with variable settings in bootstrap/_variables.scss */

hr { clear: both; }



// Override Bootstrap's header sizes
h1, .h1 { @include font-size(2.6rem); }
h2, .h2 { @include font-size(2.1rem); }
h3, .h3 { @include font-size(1.7rem); }
h4, .h4 {
    @include font-size(1.3rem);
    line-height: 140%;
}
h5, .h5 { @include font-size(1rem); }
h6, .h6 { @include font-size(0.85rem); }

blockquote {
    @include font-size(1rem);
}


/************ Typography Utility Classes **********/
/****** BOOTSTRAP HAS SIMILAR UTILITY CLASSES *****/
/************ THIS SOMEWHAT EXTENDS THEM **********/

// Exists in bootstrap:
// text-capitalize, text-uppercase, text-monospace, text-justify, text-wrap, text-nowrap, text-truncate
.text-serif 		{ font-family: $font-family-serif; }

.text-100 { font-weight: 100; }
a.text-100, button.text-100 { font-weight: 100 !important; }
.text-200 { font-weight: 200; }
a.text-200, button.text-200 { font-weight: 200 !important; }
.text-300 { font-weight: 300; }
a.text-300, button.text-300 { font-weight: 300 !important; }
.text-400 { font-weight: 400; }
a.text-400, button.text-400 { font-weight: 400 !important; }
.text-500 { font-weight: 500; }
a.text-500, button.text-500 { font-weight: 500 !important; }
.text-600 { font-weight: 600; }
a.text-600, button.text-600 { font-weight: 600 !important; }

.text-normal { font-size: 1rem; } // Reset to default size.
.text-small { font-size: 0.9rem; }
.text-smaller { font-size: 0.75rem; }
.text-medium { font-size: 15px; font-size: 15.75px; }
.text-large { font-size: 17.5px; }
.text-larger { font-size: 20px; line-height: 25px; }

.accession {
	font-family: $font-family-monospace;
}





h1, h2, h3, h4, h5, h6, td, th, span {
	font-family: $font-family-sans-serif;
}

h1, h2, h3, h4, h5, h6, th {
	color: #111;
}

h1, h2, h3, h4, h5, h6 {
	margin: 10px 0px 10px 0px;
}

// Probably redundant; carried over from existing layout.scss content.
p, input {
	font-family: $font-family-sans-serif;
}

// Possible todo: change to 'text-error' or something less generic than 'error'
.error {
    text-align: center;
    color: red;
}
